<!-- ↓ 背景表示 ↓ -->
<div class="h-full w-full fixed bg-black opacity-60 inset-0" (click)="close()"></div>

<!-- ↓ モーダル表示 ↓ -->
<div
  class="w-1/2 max-md:w-2/3 m-auto p-4 pt-5 absolute inset-x-0 top-4 border-l-8 {{color}} rounded text-sm bg-white cursor-default">
  <p>{{ text }}</p>
  <div class="w-6 absolute top-0.5 right-0.5 cursor-pointer opacity-60 hover:opacity-80" (click)="close()">
    <ng-container [ngTemplateOutlet]="icon"></ng-container>
  </div>
</div>

<!-- ↓ 閉じるボタンのテンプレート ↓ -->
<ng-template #icon>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z">
    </path>
  </svg>
</ng-template>